.body {
	height: 100%;
	color: #606060;
}

.nav_berita {
	display: flex;
	width: 100%;
}

.nav_berita p {
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
	padding: 8px 15px;
	margin: 5px;
	font-size: 15px;
	border-radius: 5px;
	cursor: pointer;
}

.nav_berita p:hover {
	background-color: #daedf4;
}
/*create*/

.cont_create_active {
	width: 100%;
	display: flex;
}

.cont_create_notActive {
	display: none;
}

.left_windowCreate {
	width: 30%;
	padding: 10px;
}

.inputJudul {
	margin: 10px 10px;
	display: flex;
	position: relative;
	height: 50px;
}
.left_windowCreate textarea {
	position: absolute;
	font-family: serif,sans-serif,monospace;
	padding: 5px;
	right: 0;
	width: 60%;
	resize: none;
	height: 50px;
}

.inputImage {
	display: flex;
	align-items: center;
	position: relative;
	margin: 20px 10px;
}

.left_windowCreate input {
	padding: 5px;
	position: absolute;
	right: 0;
	width: 60%;
}

.liveImage {
	width: 100%;
	text-align: center;
	border: 1px solid #dddddd;
}

.liveImage img {
	padding: 10px;
}

.right_windowCreate {
	width: 65%;
	padding: 20px;
}

.inputText {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 450px;
}

.inputText textarea {
	font-family: serif,sans-serif,monospace;
	width: 85%;
	margin-left: 10px;
	resize: none;
	padding:10px;
}

.btn_save {
	float: right;
	margin: 10px;
	padding: 10px 40px;
	border: none;
	outline: none;
	background-color: #44a6c6;
	color: #ffffff;
	cursor: pointer;
}

/*end create*/

/*list*/

.cont_list {
	display: flex;
	flex-wrap: wrap;
}

.card_list {
	box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
	width: 200px;
	text-align: center;
	padding-bottom: 10px;
	margin: 10px;
}

.card_list:hover {
	box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.card_list * {
	padding: 5px;
}

.img_list {
	height: 150px;
	max-width: 90%;
}

.isiText {
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*end list*/

/*device phone*/
@media only screen and (max-width: 500px) {
	.cont_create_active {
		display: flex;
		flex-direction: column;
	}

	.left_windowCreate {
		width: 100%;
	}

	.right_windowCreate {
		width: 100%;
	}

	.liveImage {
		width: 50%;
		margin: auto;
	}

	.inputText {
		width: 90%;
		display: flex;
		position: relative;
		height: 250px;
	}

	.inputText textarea {
		width: 75%;
	}

	/*list*/
}
/*end devices phone*/
