
.loading{
	display:none;
}

.body {
	display:block;
	padding:10px;
}

.titleHeader{ 
	font-size: 25px;
	text-align: center;
	margin-bottom: 30px;
 }

 .container_form{
 	width: 80%;
 	margin:auto;
 	padding:10px;	
 }

 .formControl {
 	width: 100%;
 	margin: 3px 0px;
 }

 .buttonForm {
 	margin:50px 10px 0px 0px !important;
 }