.header {
	opacity: 1;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	padding: 5px;
	font-size: 12px;
}
/*a0a0a0*/

.loading {
	display: none;
}

.notloading {
	display: flex;
}

/*left header*/
.headerListLeft {
	display: flex;
	color: #606060;
	font-weight: bold;
	align-items: center;
	flex-direction: row;
}

.phoneCenter {
	display: flex;
	align-items: center;
}

.emailCenter {
	margin-left: 30px;
	display: flex;
	align-items: center;
}

.textIcon {
	margin-left: 5px;
	cursor: pointer;
}

/*end left header*/

/*right header*/

.headerListRight {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	color: white;
}

/*end pointer muncul*/

.iconsLogin {
	margin: -5px 0px 0px -20px;
}

/*login choose*/
.container_login {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	color: #606060;
	font-weight: bold;
	text-decoration-line: none;
}

.container_logout {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	color: #606060;
	text-decoration-line: none;
	font-weight: bold;
	cursor: pointer;
}

.p_login {
	margin-right: 5px;
}
/*end login choose*/

/*end right header*/

/*phone device*/
@media screen and (max-width: 600px) {
	/*left header*/
	/*ubah margin dari info gmail agar dempet kiri*/
	.headerListLeft {
		display: block;
	}

	.phoneCenter {
		font-size: 10px;
	}
	.emailCenter {
		margin-left: 0px;
		font-size: 10px;
	}
}
/*end device phone*/
