.bg {
	position: absolute;
	display: grid;
	top: 0;
	background-image: linear-gradient(to top right, #99ccff, #66b2ff);
	width: 100%;
	height: 100%;
}

.container_login {
	width: 350px;
	height: 450px;
	border-radius: 20px;
	margin: auto;
}

.header_login {
	text-align: center;
}

.img_logo {
	width: 100px;
}

.text_stikom {
	color: #f5f5f5;
	font-weight: 800;
	text-shadow: 1px 1px 5px black;
}

/*handling wrong pass or userame*/
.container_wrong_pass {
	width: 100%;
	height: 50px;
	border: 1px solid #a0a0a0;
	background-color: #e0e0e0;
	border-radius: 10px;
	margin: 20px 0px;
	display: none;
	justify-content: center;
	align-items: center;
}

.text_wrong_pass {
	color: red;
	font-size: 14px;
	padding: 0px 50px;
	text-align: center;
}
/*end handling wrong pass or username*/

/*form*/
.form {
	margin-top: 30px;
}

.logo_login {
	color: gray;
	margin-right: 10px;
}
.form_user {
	width: 100%;
	border-width: 0px;
	border: none;
	outline: none;
}

.username {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 10px;
	position: relative;
}

.password {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 10px;
	margin-top: 15px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #606060;
	width: 100%;
	padding: 10px;
	color: #ffffff;
	outline: none;
	margin-top: 15px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.form {
		padding: 20px;
	}
}
